/* fills screen */
body, html { 
    height: 100%; 
    margin: 0; 
    font-family: sans-serif;
    display: flex; 
    flex-direction: column; 
}

/* layout */
.container { 
    display: flex; 
    flex: 1;
    height: 100%;
}

/* sidebar styling */
#sidebar { 
    width: 300px; 
    padding: 20px; 
    background: #f4f4f4; 
    overflow-y: auto; 
}

#map-container { 
    flex: 1; 
    position: relative; 
}

#map { 
    width: 100%; 
    height: 100%; 
    background-color: grey; 
}