/* fills screen */
body, html { 
    height: 100%; 
    margin: 0; 
    font-family: sans-serif;
    display: flex; 
    flex-direction: column; 
}

/* layout */
.container { 
    display: flex; 
    flex: 1;
    height: 100%;
}

/* sidebar styling */
#sidebar { 
    width: 300px; 
    padding: 20px; 
    background: #f4f4f4; 
    overflow-y: auto; 
}

/* map container styling*/
#map-container { 
    flex: 1; 
    position: relative; 
}
#map { 
    width: 100%; 
    height: 100%; 
    background-color: grey; 
}


/* landmark list styling*/
#landmark-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.landmark-item {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s;
}
.landmark-item:hover {
    background: #e9e9e9;
    border-color: #ccc;
}
.delete-btn-list {
    background: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn-list:hover {
    background: #cc0000;
}

/*mobile view*/
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }
    /*sidebar takes up bottom half of screen */
    #sidebar {
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }
    #preview-image{
        display:none; 
        max-width: 50%; 
        margin-top: 10px; 
    }
    #photo-group{
        padding-bottom: 10px;
    }

    /*map takes up top half of screen */
    #map-container {
        width: 100%;
        height: 50%;
    }
    #toggle-sidebar-desktop {
    display: none;
    }
    #toggle-sidebar-mobile {
        position: absolute;
        right: 10px;
        background: white;
        color: black;
        border: 1px solid #ccc;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    }
    .sidebar-hidden #sidebar {
        height: 10px !important; 
        overflow: hidden;
    }
    
    .sidebar-hidden #map-container {
        height: calc(100% - 40px) !important;
    }
    #landmark-title{
    margin-bottom: 5px;
    }
}

/*desktop sidebar*/
@media (min-width: 769px) {
#toggle-sidebar-mobile {
    display: none;
}
#toggle-sidebar-desktop {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1000;
    background: white;
    border: 1px solid #999;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

    #toggle-sidebar-desktop:hover {
        background: #f0f0f0;
        }
    .sidebar-hidden #sidebar {
    display: none !important; 
}
#preview-image{
    display:none; 
    max-width: 50%; 
    margin-top: 10px; 
}
#photo-group{
    padding-bottom: 10px;
}
#landmark-title{
    margin-bottom: 5px;
}
#lat{
    margin-bottom: 5px;
}
}
