/* fills screen */
body, html { 
    height: 100%; 
    margin: 0; 
    font-family: sans-serif;
    display: flex; 
    flex-direction: column; 
}

/* layout */
.container { 
    display: flex; 
    flex: 1;
    height: 100%;
}

/* sidebar styling */
#sidebar { 
    width: 300px; 
    padding: 20px; 
    background: #f4f4f4; 
    overflow-y: auto; 
}

/* map container styling*/
#map-container { 
    flex: 1; 
    position: relative; 
}
#map { 
    width: 100%; 
    height: 100%; 
    background-color: grey; 
}


/* landmark list styling*/
#landmark-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.landmark-item {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s;
}
.landmark-item:hover {
    background: #e9e9e9;
    border-color: #ccc;
}
.delete-btn-list {
    background: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn-list:hover {
    background: #cc0000;
}